#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */

  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-tonal-a0);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  
  background-color: var(--bg-tonal-a10);
  /* color: white; */
  text-align: center;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 1.25rem 2rem;

  border-bottom: 1px solid var(--bg-color-a50);
  /* position: fixed; */
}

.header img {
  height: 100%;
  width: auto;
}

.header h1 {
  padding: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: auto;
  /* flex-grow: 1; */
}

.left-side,
.right-side {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.left-side {
  border-right: 1px solid var(--bg-color-a50);
}

.border {
  /* width: auto; */
  /* height: auto; */
  flex: 1;

  border-radius: 0.5rem;
  border: 1px solid var(--bg-color-a50);
  overflow: hidden;
}

/* scrollbar stuff */

::-webkit-scrollbar {
  width: 5px;
  /* Vertical scrollbar width */
  height: 5px;
  /* Horizontal scrollbar height */
}

::-webkit-scrollbar-thumb {
  background: var(--bg-tonal-a20);
  /* Scroll thumb color */
  border-radius: 10px;
  /* Capsule shape */
  /* border: 2px solid white; */
  /* Inner line effect */
}

::-webkit-scrollbar-track {
  background: var(--bg-color-a10);
  /* Track color */
  border-radius: 10px;
  /* Round track edges */
  /* width: 2px; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  /* Darker grey on hover */
}