:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color-a0: #121212;
  --bg-color-a10: #282828;
  --bg-color-a20: #3f3f3f;
  --bg-color-a30: #575757;
  --bg-color-a40: #717171;
  --bg-color-a50: #8b8b8b;

  --bg-tonal-a0: #1e1835;
  --bg-tonal-a10: #342d49;
  --bg-tonal-a20: #4a445d;
  --bg-tonal-a30: #625c73;
  --bg-tonal-a40: #7a7589;
  --bg-tonal-a50: #938f9f;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-tonal-a20);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--bg-tonal-a40);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}